<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce regression test" verbose="1" >
    <parameter name="Browser" value="firefox"></parameter>
    <test name="regression test" >
        <classes>
            <class name="tests.TC02_RegisterTest" />
            <class name="tests.TC03_LoginTest" />
            <class name="tests.TC06_SerchBySelectFromAutoListTest"></class>

        </classes>
    </test>


</suite>
